//...................................var.................................
$myColor: #4A606E;
$mainColor: #95989A;
$textWhite: #e4e4e4;
$bgColor: #f9f9f9;
.button {
    background-color: $myColor;
    color: $textWhite;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
//....................................portfolio page........................
.portfolioContainer {
    .plogoContainer {
        width: 100%;
        background-color: $myColor;
        margin: 5em 0;
        text-align: center;
        padding-top: .5em;
        h3 {
            width: 80%;
            margin: 0 auto;
            padding: 1em 0;
            background-color: $mainColor;
            margin-top: 1em;
            a {
                font-size: 1.5em;
                color: $myColor;
                img {
                    width: 100%;
                    height: auto;
                }

            }
        }
    }
    
    .plogoContainer:nth-child(even) {
        h3 {
            padding: 3em 0;
            img {
                height: 2.5em;
            }
        }
    }
    .plogoContainer:nth-child(3) {
        h3 {
            padding: 4em 0;
        }
    }
    .pLanguage {
        font-size: .9em;
        color: $textWhite;
        line-height: 2em;
        padding-bottom: 1em;
    }
}

//........................end portfolio ..................................
@media only screen and (min-width: 768px) {
  //.................portfolio............
    .portfolioContainer {
        margin: 8em 0;
        .plogoContainer {
            width: 45%;
            float: left;
            margin: 0 2.5% 5em 2.5%;
            h3 {
                width: 100%;
                img[src="images/fashionFamily.svg"] {
                    height: 5.1em;
                }
            }
        }
    }
}
@media only screen and (min-width: 1280px){
//................................................portfolio................
    .portfolioContainer{
        width: 60%; 
        margin: 0 auto;
        margin-top: 8em;
    }
}