@charset "UTF-8";
.button, .moreButton, .formContainer form .button {
  background-color: #4A606E;
  color: #e4e4e4; }

.clearfix {
  content: " ";
  clear: both; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.button:hover, .moreButton:hover, .formContainer form .button:hover,
.moreButton:hover {
  color: #95989A;
  box-shadow: 1px 1px 1px rgba(74, 96, 110, 0.5); }

header ul.mainNav li a.active {
  border-bottom: 1px solid #95989A; }

.footerNav a.active {
  color: #4A606E;
  font-weight: 700; }

.codes {
  color: #95989A; }

body {
  font-family: 'Monda', sans-serif; }

header {
  padding: 1em 1.5em;
  width: 100%;
  height: 6.25em;
  border-bottom: 1px solid #4A606E;
  transition: all .5s ease-in-out; }

#myLogo {
  float: left;
  margin: 0; }

#mobileMenu {
  color: #4A606E;
  float: right;
  font-size: 2em;
  margin: 0;
  cursor: pointer;
  transition: all 1s easy-in-out; }

#mainNavContainer {
  display: none; }

.stickyNav {
  position: fixed;
  top: 0;
  background-color: #4A606E;
  transition: all .2s easy-in-out; }

.mobileOpen {
  color: #95989A;
  width: 100%;
  height: 100%;
  background-color: #4A606E;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 1.5em; }

#mobileClose {
  font-size: 2em;
  float: right;
  cursor: pointer; }

.fadedLogo {
  float: left; }

.mainNav {
  margin: 0;
  padding: 4em 0 4em 2em;
  clear: both; }

.mainNav li {
  padding: .5em 1em; }

.mainNav li a {
  font-weight: 700;
  line-height: 2em;
  font-size: 1.5em;
  color: #95989A; }

#openSubNav {
  font-size: 1.5em;
  padding-left: 1em;
  cursor: pointer;
  transition: all .4s easy-in-out; }

#openSubNav:hover {
  color: #e4e4e4; }

.rotateClass {
  display: inline-block;
  transform: rotate(90deg);
  padding: 0 1em .2em 1em;
  transition: all .4s easy-in-out; }

header .subNav {
  display: none;
  font-size: .8em;
  margin: 0;
  padding: 0; }

header .subNav li a {
  padding: 0;
  line-height: .5em; }

.mailContainer a {
  color: #95989A; }

.mainNav li a:hover,
.icon-mail:hover {
  color: #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }

footer {
  border-top: 1px solid #4A606E;
  padding: 1em .5em; }

.footerNav {
  float: left;
  padding-left: 0;
  font-weight: 700; }
  .footerNav ul {
    font-size: .9em;
    padding-left: 0;
    padding-left: .5em;
    margin: 0; }
  .footerNav a {
    color: #95989A;
    transition: all .4s easy-in-out; }
  .footerNav a:hover {
    color: #4A606E;
    font-weight: 700; }

.socialNav {
  float: right; }
  .socialNav li {
    display: inline-block;
    padding-left: .5em; }
    .socialNav li a {
      font-size: 1.5em;
      color: #95989A;
      transition: all .4s easy-in-out; }
    .socialNav li a:hover {
      color: #000; }

.copyRight {
  clear: both;
  font-size: .6em;
  color: #95989A; }

.toTop {
  text-align: center;
  transition: all .4s easy-in-out; }
  .toTop a {
    color: #95989A;
    background-color: #4A606E;
    padding: 0 .8em;
    -webkit-border-radius: 1em 1em 0 0;
    -moz-border-radius: 1em 1em 0 0;
    -ms-border-radius: 1em 1em 0 0;
    border-radius: 1em 1em 0 0;
    transition: all .4s easy-in-out; }
  .toTop a:hover {
    color: #e4e4e4;
    box-shadow: 1px 3px 2px rgba(74, 96, 110, 0.5); }

main {
  min-height: 25em; }
  main .introContainer {
    text-align: center;
    margin-top: 5em; }
    main .introContainer h2 {
      font-size: 1.2em;
      font-weight: 700; }
    main .introContainer h3 {
      font-size: 1.1em;
      letter-spacing: 3px;
      padding-bottom: 1em; }

.mBContainer {
  margin-top: 3em; }

.moreButton {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: .2em 1em;
  transition: all .2s easy-in-out; }

.formContainer {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3em;
  padding-top: 5em; }
  .formContainer .mailContainer {
    margin-bottom: 3em; }
    .formContainer .mailContainer a {
      color: #4A606E; }
  .formContainer form {
    font-size: 1em; }
    .formContainer form input,
    .formContainer form textarea {
      color: #4A606E;
      border: none;
      border-bottom: 1px solid #95989A;
      width: 100%;
      transition: all .5s ease; }
    .formContainer form input::placeholder,
    .formContainer form textarea::placeholder {
      color: #95989A; }
    .formContainer form input:focus,
    .formContainer form textarea:focus {
      outline: none;
      border-bottom: 1px solid #4A606E; }
    .formContainer form textarea:focus {
      height: 8em; }
    .formContainer form input,
    .formContainer form textarea,
    .formContainer form .moreButton,
    .formContainer form .button {
      display: block;
      padding: 1em 0 .5em 0; }
    .formContainer form textarea {
      resize: none;
      padding-bottom: 0;
      height: 2.5em; }
    .formContainer form .moreButton, .formContainer form .button {
      width: 5em;
      border: none;
      border-bottom: 1px solid #95989A;
      margin-top: 2em;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      padding: .5em 1em;
      transition: all .2s easy-in-out; }

.feedBack {
  color: #4A606E; }

.aboutContainer {
  padding: 3em 0;
  width: 80%;
  margin: 0 auto; }
  .aboutContainer blockquote {
    font-size: 1.125em;
    color: #95989A; }
  .aboutContainer .aboutSummery {
    margin: 6em 0; }
    .aboutContainer .aboutSummery h3 {
      color: #95989A; }
    .aboutContainer .aboutSummery p {
      margin-bottom: 3em;
      font-size: 1.125em;
      color: #4A606E; }
    .aboutContainer .aboutSummery .button, .aboutContainer .aboutSummery .moreButton {
      text-align: center;
      padding: .5em 0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      cursor: pointer;
      transition: all .2s easy-in-out; }
  .aboutContainer #resumeContainer {
    padding-top: 3em; }
    .aboutContainer #resumeContainer .aniResume {
      margin-bottom: 4em; }
      .aboutContainer #resumeContainer .aniResume h4 {
        color: #95989A; }
      .aboutContainer #resumeContainer .aniResume li {
        color: #95989A; }
        .aboutContainer #resumeContainer .aniResume li p {
          color: #4A606E; }

.portfolioContainer .plogoContainer {
  width: 100%;
  background-color: #4A606E;
  margin: 5em 0;
  text-align: center;
  padding-top: .5em; }
  .portfolioContainer .plogoContainer h3 {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
    background-color: #95989A;
    margin-top: 1em; }
    .portfolioContainer .plogoContainer h3 a {
      font-size: 1.5em;
      color: #4A606E; }
      .portfolioContainer .plogoContainer h3 a img {
        width: 100%;
        height: auto; }
.portfolioContainer .plogoContainer:nth-child(even) h3 {
  padding: 3em 0; }
  .portfolioContainer .plogoContainer:nth-child(even) h3 img {
    height: 2.5em; }
.portfolioContainer .plogoContainer:nth-child(3) h3 {
  padding: 4em 0; }
.portfolioContainer .pLanguage {
  font-size: .9em;
  color: #e4e4e4;
  line-height: 2em;
  padding-bottom: 1em; }

.projectContainer .pTitleContainer h2 {
  font-size: 2em;
  line-height: 3em;
  color: #95989A;
  text-align: center;
  background-color: #4A606E; }
  .projectContainer .pTitleContainer h2 img[src="images/bikeshop.svg"],
  .projectContainer .pTitleContainer h2 img[src="images/shield.svg"] {
    width: 60%;
    padding-top: 1em; }
.projectContainer .pTitleContainer .singlePIMG {
  width: 70%;
  margin: 0 auto; }
  .projectContainer .pTitleContainer .singlePIMG img {
    width: 100%;
    height: auto; }
.projectContainer .pCaseStudy {
  margin-top: 4em;
  padding: 0 .8em; }
  .projectContainer .pCaseStudy h3 {
    color: #95989A;
    margin-bottom: 0;
    line-height: 3em; }
  .projectContainer .pCaseStudy p {
    margin-top: 0;
    margin-bottom: 2em;
    color: #4A606E; }
.projectContainer .buttonContainer {
  text-align: center; }
  .projectContainer .buttonContainer .button, .projectContainer .buttonContainer .moreButton {
    padding: .5em 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transition: all .2s easy-in-out; }

.otherProjects {
  background-color: #95989A;
  padding: 2em 0;
  margin: 15em 0 2em 0;
  text-align: center; }
  .otherProjects .otherProject {
    width: 80%;
    background-color: #4A606E;
    margin: 0 auto;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px; }
    .otherProjects .otherProject h3 {
      margin-bottom: 0; }
      .otherProjects .otherProject h3 img {
        width: 100%;
        box-shadow: 1px 1px 2px #4A606E;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        border-radius: 13px; }
    .otherProjects .otherProject p {
      font-size: .9em;
      margin-top: 0;
      color: #95989A;
      padding-bottom: .5em; }

@media only screen and (min-width: 768px) {
  .tabletOpen {
    color: #95989A;
    width: 30%;
    height: 100%;
    background-color: #4A606E;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .4s ease-in-out; }
    .tabletOpen .fadedLogo {
      display: none; }
    .tabletOpen #mobileClose {
      font-size: 1.3em;
      padding: 1em 1.5em 0 0; }
    .tabletOpen ul.mainNav {
      padding-top: 5em;
      padding-left: 0;
      padding-left: 1em;
      background-color: #4A606E; }
    .tabletOpen .mainNav li a {
      font-size: 1.3em; }
    .tabletOpen .mailContainer {
      font-size: .9em;
      background-color: #4A606E;
      padding: 0 0 100% 1em; }

  body {
    transition: all .4s ease-in-out; }

  .bodyWidth {
    width: 70%; }

  .footerNav {
    width: 60%; }

  .footerNav > li {
    display: inline-block;
    padding-left: 1.5em; }

  .footerNav > li ul > li {
    display: none; }

  .socialNav li {
    padding-right: 1.5em; }

  .copyRight {
    padding-top: 3em;
    text-align: center; }

  main {
    min-height: 35em; }

  main .introContainer {
    margin-top: 8em; }
    main .introContainer h3 {
      font-size: 1.3em; }
    main .introContainer h2 {
      font-size: 1.5em; }

  .aboutContainer {
    font-size: 1.2em;
    margin-top: 8em; }
    .aboutContainer blockquote {
      font-size: 1.5em; }
    .aboutContainer .aboutSummery {
      margin-top: 10em; }
      .aboutContainer .aboutSummery #resumeTrigger {
        margin-top: 3em; }

  .formContainer {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3em;
    padding-top: 8em; }

  .portfolioContainer {
    margin: 8em 0; }
    .portfolioContainer .plogoContainer {
      width: 45%;
      float: left;
      margin: 0 2.5% 5em 2.5%; }
      .portfolioContainer .plogoContainer h3 {
        width: 100%; }
        .portfolioContainer .plogoContainer h3 img[src="images/fashionFamily.svg"] {
          height: 5.1em; }

  .projectContainer .pTitleContainer {
    min-height: 26.5em;
    background-color: #4A606E; }
    .projectContainer .pTitleContainer h2 {
      width: 50%;
      float: right;
      padding-top: 2em; }
      .projectContainer .pTitleContainer h2 img[src="images/bikeshop.svg"],
      .projectContainer .pTitleContainer h2 img[src="images/shield.svg"] {
        width: 50%; }
    .projectContainer .pTitleContainer .singlePIMG {
      width: 50%;
      float: left;
      padding: 5% 2%; }
  .projectContainer .pCaseStudy {
    padding: 4em 5%; }

  .otherProjects .otherProject {
    width: 25%;
    float: left;
    margin: 2em 4.1666%;
    background-color: transparent; } }
@media only screen and (min-width: 1280px) {
  #mobileMenu {
    display: none; }

  .dstickyNav {
    position: fixed;
    top: 0;
    background-color: #4A606E; }
    .dstickyNav .mainNav li a {
      color: #95989A !important; }

  #mainNavContainer,
  .dstickyNav {
    display: block;
    float: right; }
    #mainNavContainer .fadedLogo,
    .dstickyNav .fadedLogo {
      display: none; }
    #mainNavContainer #mobileClose,
    .dstickyNav #mobileClose {
      display: none; }
    #mainNavContainer .mainNav,
    .dstickyNav .mainNav {
      padding: 0; }
      #mainNavContainer .mainNav li,
      .dstickyNav .mainNav li {
        display: inline-block;
        padding: 1.5em 1.5em 1em; }
        #mainNavContainer .mainNav li .subNav,
        .dstickyNav .mainNav li .subNav {
          background-color: #4A606E;
          margin-top: 1.5em;
          padding: 1em 0;
          width: 15em;
          position: absolute;
          top: 5em;
          left: 0; }
          #mainNavContainer .mainNav li .subNav li a,
          .dstickyNav .mainNav li .subNav li a {
            color: #95989A; }
          #mainNavContainer .mainNav li .subNav li a:hover,
          .dstickyNav .mainNav li .subNav li a:hover {
            color: #e4e4e4; }
        #mainNavContainer .mainNav li #openSubNav,
        .dstickyNav .mainNav li #openSubNav {
          padding-left: 0;
          display: none; }
        #mainNavContainer .mainNav li a,
        .dstickyNav .mainNav li a {
          color: #4A606E; }
        #mainNavContainer .mainNav li a:hover,
        .dstickyNav .mainNav li a:hover {
          color: #95989A; }
      #mainNavContainer .mainNav .subNavContainer,
      .dstickyNav .mainNav .subNavContainer {
        position: relative; }
      #mainNavContainer .mainNav .subNavContainer:hover .subNav,
      .dstickyNav .mainNav .subNavContainer:hover .subNav {
        display: block;
        transition-delay: 2s; }
    #mainNavContainer .mailContainer,
    .dstickyNav .mailContainer {
      display: none; }

  main {
    max-width: 1500px;
    margin: 0 auto; }

  .aboutContainer {
    width: 55%;
    font-size: 1.2em; }

  .formContainer {
    width: 40%;
    font-size: 1.5em; }
    .formContainer .mailContainer a:hover {
      color: #95989A; }

  .portfolioContainer {
    width: 60%;
    margin: 0 auto;
    margin-top: 8em; }

  .projectContainer {
    margin-top: 1em; }
    .projectContainer .pTitleContainer h2 {
      width: 40%;
      margin-right: 10%;
      font-size: 3em; }
      .projectContainer .pTitleContainer h2 img[src="images/fashionFamily.svg"] {
        width: 70%; }
    .projectContainer .pTitleContainer .singlePIMG {
      width: 40%;
      padding: 5% 5%;
      margin-left: 5%; }
    .projectContainer .pCaseStudy {
      padding: 4em 10%; } }
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?36130799");
  src: url("../font/fontello.eot?36130799#iefix") format("embedded-opentype"), url("../font/fontello.woff2?36130799") format("woff2"), url("../font/fontello.woff?36130799") format("woff"), url("../font/fontello.ttf?36130799") format("truetype"), url("../font/fontello.svg?36130799#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?36130799#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-mail:before {
  content: '\e800'; }

/* '' */
.icon-cancel:before {
  content: '\e801'; }

/* '' */
.icon-up-open:before {
  content: '\e802'; }

/* '' */
.icon-menu:before {
  content: '\f0c9'; }

/* '' */
.icon-mail-alt:before {
  content: '\f0e0'; }

/* '' */
.icon-codeopen:before {
  content: '\f1cb'; }

/* '' */
.icon-github-squared:before {
  content: '\f300'; }

/* '' */
.icon-linkedin-squared:before {
  content: '\f30c'; }

/* '' */

/*# sourceMappingURL=style.css.map */
