//...................................var.................................
$myColor: #4A606E;
$mainColor: #95989A;
$textWhite: #e4e4e4;
.button {
    background-color: $myColor;
    color: $mainColor;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//.............................universal css.............................
.clearfix:after {
    content: " ";
    clear: both;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


//..............................css...........................
body {
    font-family: 'Monda', sans-serif;
}

//......................header.............................
header {
    padding: 1em 1.5em;
    width: 100%;
    height: 6.25em;
    border-bottom: 1px solid $myColor;
}

#myLogo {
    float: left;
    margin: 0;
}


#mobileMenu {
    color: $myColor;
    float: right;
    font-size: 2em;
    margin: 0;
    cursor: pointer;
    transition: all 1s easy-in-out;
}

#mainNavContainer {
    display: none;
}

//...............sticky nav..............
.stickyNav {
    position: fixed;
    top: 0;
    background-color: $myColor;
    transition: all .2s easy-in-out;
}

//....................mobile navigation nav is open.................
.mobileOpen {
    color: $mainColor;
    width: 100%;
    height: 100%;
    background-color: $myColor;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em 1.5em;

    #mobileClose {
        font-size: 2em;
        float: right;
        cursor: pointer;
    }
    .fadedLogo {
        float: left;
    }
    .mainNav {
        margin: 8em 0 5em 0;
        clear: both;
    }
    .mainNav li {
        padding: .5em 1em;
    }
    .mainNav li a {
        font-weight: 700;
        line-height: 2em;
        font-size: 1.5em;
        color: $mainColor;
    }
    #openSubNav {
        font-size: 1.5em;
        padding-left: 1em;
        cursor: pointer;
    }
    #openSubNav:hover{
        color: $textWhite;
        transition: all .4s easy-in-out;
    }
    .rotateClass {
        display: inline-block;
        transform: rotate(90deg);
        padding: 0 1em .2em 1em;
        transition: all .4s easy-in-out;
    }
    .subNav {
        display: none;
        font-size: .8em;
        margin: 0;
        padding: 0;
    }
    .subNav li a {
        padding: 0;
        line-height: .5em;
    }
    .mailContainer {
        text-align: center;
        a {
            color: $mainColor;
        }
    } //........................nav li hover effects and active.............
    .mainNav li a.active {
        border-bottom: 1px solid $mainColor;
    }
    .mainNav li a:hover,
    .icon-mail:hover {
        color: $textWhite;
        border-bottom: 1px solid $textWhite;
    }
}

//...............................end header.........................
//...............................footer.........................
footer {
    border-top: 1px solid $myColor;
    padding: 1em .5em;
}

.footerNav {
    float: left;
    padding-left: 0;
    ul {
        font-size: .9em;
        padding-left: 0;
        padding-left: .5em;
        margin: 0;
    }
    a {
        color: $mainColor;
    }
    a:hover {
        color: $myColor;
        font-weight: 700;
        transition: all .4s easy-in-out;
    }
}

.socialNav {
    float: right;
    li {
        display: inline-block;
        padding-left: .5em;
        a {
            font-size: 1.5em;
            color: $mainColor;
        }
        a:hover {
            color: #000;
            transition: all .4s easy-in-out;
        }
    }
}

//.............copyright......
.copyRight {
    clear: both;
    font-size: .6em;
    color: $mainColor;
}

//..............toTop..............
.toTop {
    text-align: center;
    transition: all .4s easy-in-out;
    a {
        color: $mainColor;
        background-color: $myColor;
        padding: 0 .8em;
        @include border-radius(1em 1em 0 0);
    }
    a:hover {
        color: $textWhite;
        box-shadow: 1px 3px 2px rgba($myColor, .5);
        transition: all .4s easy-in-out;
    }
}


//...............................end footer.........................
//...............................main home.........................
main {
    min-height: 25em;
    .introContainer {
        text-align: center;
        margin-top: 5em;
        h2 {
            font-size: 1.2em;
            font-weight: 700;
        }
        h3 {
            font-size: 1.1em;
            letter-spacing: 3px;
            padding-bottom: 1em;
        }
    }
}

//........................moreButton............ 
.moreButton {
    @extend .button;
    @include border-radius(5px);
    padding: .2em 1em;
}

.moreButton:hover {
    color: $textWhite;
    box-shadow: 1px 3px 2px rgba($myColor, .5);
    transition: all .2s easy-in-out;
}

//............................... end main home.........................
//..................................fontello ...............................................
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?36130799');
    src: url('../font/fontello.eot?36130799#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?36130799') format('woff2'),
    url('../font/fontello.woff?36130799') format('woff'),
    url('../font/fontello.ttf?36130799') format('truetype'),
    url('../font/fontello.svg?36130799#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?36130799#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before {
    content: '\e800';
}

/* '' */

.icon-cancel:before {
    content: '\e801';
}

/* '' */

.icon-up-open:before {
    content: '\e802';
}

/* '' */

.icon-menu:before {
    content: '\f0c9';
}

/* '' */

.icon-mail-alt:before {
    content: '\f0e0';
}

/* '' */

.icon-codeopen:before {
    content: '\f1cb';
}

/* '' */

.icon-github-squared:before {
    content: '\f300';
}

/* '' */

.icon-linkedin-squared:before {
    content: '\f30c';
}

/* '' */
