@charset "UTF-8";
.button, .moreButton, .formContainer form .button {
  background-color: #4A606E;
  color: #95989A; }

.clearfix:after {
  content: " ";
  clear: both; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.button:hover, .moreButton:hover, .formContainer form .button:hover,
.moreButton:hover {
  color: #e4e4e4;
  box-shadow: 1px 1px 1px rgba(74, 96, 110, 0.5);
  transition: all .2s easy-in-out; }

body {
  font-family: 'Monda', sans-serif; }

header {
  padding: 1em 1.5em;
  width: 100%;
  height: 6.25em;
  border-bottom: 1px solid #4A606E; }

#myLogo {
  float: left;
  margin: 0; }

#mobileMenu {
  color: #4A606E;
  float: right;
  font-size: 2em;
  margin: 0;
  cursor: pointer;
  transition: all 1s easy-in-out; }

#mainNavContainer {
  display: none; }

.stickyNav {
  position: fixed;
  top: 0;
  background-color: #4A606E;
  transition: all .2s easy-in-out; }

.mobileOpen {
  color: #95989A;
  width: 100%;
  height: 100%;
  background-color: #4A606E;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 1.5em; }
  .mobileOpen #mobileClose {
    font-size: 2em;
    float: right;
    cursor: pointer; }
  .mobileOpen .fadedLogo {
    float: left; }
  .mobileOpen .mainNav {
    margin: 8em 0 5em 0;
    clear: both; }
  .mobileOpen .mainNav li {
    padding: .5em 1em; }
  .mobileOpen .mainNav li a {
    font-weight: 700;
    line-height: 2em;
    font-size: 1.5em;
    color: #95989A; }
  .mobileOpen #openSubNav {
    font-size: 1.5em;
    padding-left: 1em;
    cursor: pointer; }
  .mobileOpen #openSubNav:hover {
    color: #e4e4e4;
    transition: all .4s easy-in-out; }
  .mobileOpen .rotateClass {
    display: inline-block;
    transform: rotate(90deg);
    padding: 0 1em .2em 1em;
    transition: all .4s easy-in-out; }
  .mobileOpen .subNav {
    display: none;
    font-size: .8em;
    margin: 0;
    padding: 0; }
  .mobileOpen .subNav li a {
    padding: 0;
    line-height: .5em; }
  .mobileOpen .mailContainer {
    text-align: center; }
    .mobileOpen .mailContainer a {
      color: #95989A; }
  .mobileOpen .mainNav li a.active {
    border-bottom: 1px solid #95989A; }
  .mobileOpen .mainNav li a:hover,
  .mobileOpen .icon-mail:hover {
    color: #e4e4e4;
    border-bottom: 1px solid #e4e4e4; }

footer {
  border-top: 1px solid #4A606E;
  padding: 1em .5em; }

.footerNav {
  float: left;
  padding-left: 0; }
  .footerNav ul {
    font-size: .9em;
    padding-left: 0;
    padding-left: .5em;
    margin: 0; }
  .footerNav a {
    color: #95989A; }
  .footerNav a:hover {
    color: #4A606E;
    font-weight: 700;
    transition: all .4s easy-in-out; }

.socialNav {
  float: right; }
  .socialNav li {
    display: inline-block;
    padding-left: .5em; }
    .socialNav li a {
      font-size: 1.5em;
      color: #95989A; }
    .socialNav li a:hover {
      color: #000;
      transition: all .4s easy-in-out; }

.copyRight {
  clear: both;
  font-size: .6em;
  color: #95989A; }

.toTop {
  text-align: center;
  transition: all .4s easy-in-out; }
  .toTop a {
    color: #95989A;
    background-color: #4A606E;
    padding: 0 .8em;
    -webkit-border-radius: 1em 1em 0 0;
    -moz-border-radius: 1em 1em 0 0;
    -ms-border-radius: 1em 1em 0 0;
    border-radius: 1em 1em 0 0; }
  .toTop a:hover {
    color: #e4e4e4;
    box-shadow: 1px 3px 2px rgba(74, 96, 110, 0.5);
    transition: all .4s easy-in-out; }

main {
  min-height: 25em; }
  main .introContainer {
    text-align: center;
    margin-top: 5em; }
    main .introContainer h2 {
      font-size: 1.2em;
      font-weight: 700; }
    main .introContainer h3 {
      font-size: 1.1em;
      letter-spacing: 3px;
      padding-bottom: 1em; }

.mBContainer {
  margin-top: 3em; }

.moreButton {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: .2em 1em; }

.formContainer {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3em;
  padding-top: 5em; }
  .formContainer .mailContainer {
    margin-bottom: 3em; }
    .formContainer .mailContainer a {
      color: #4A606E; }
  .formContainer form {
    font-size: 1em; }
    .formContainer form input,
    .formContainer form textarea {
      color: #4A606E;
      border: none;
      border-bottom: 1px solid #95989A;
      width: 100%;
      transition: all .5s ease; }
    .formContainer form input::placeholder,
    .formContainer form textarea::placeholder {
      color: #95989A; }
    .formContainer form input:focus,
    .formContainer form textarea:focus {
      outline: none;
      border-bottom: 1px solid #4A606E; }
    .formContainer form textarea:focus {
      height: 8em; }
    .formContainer form input,
    .formContainer form textarea,
    .formContainer form .moreButton,
    .formContainer form .button {
      display: block;
      padding: 1em 0 .5em 0; }
    .formContainer form textarea {
      resize: none;
      padding-bottom: 0;
      height: 2.5em; }
    .formContainer form .moreButton, .formContainer form .button {
      width: 5em;
      border: none;
      border-bottom: 1px solid #95989A;
      margin-top: 2em;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      padding: .4em 1em; }

.feedBack {
  color: #4A606E; }

.aboutContainer {
  padding: 3em 0;
  width: 80%;
  margin: 0 auto; }
  .aboutContainer blockquote {
    font-size: 1.125em;
    color: #4A606E; }
  .aboutContainer .aboutSummery {
    margin: 6em 0; }
    .aboutContainer .aboutSummery p {
      margin-bottom: 3em; }
    .aboutContainer .aboutSummery .button, .aboutContainer .aboutSummery .moreButton {
      text-align: center;
      padding: .5em 0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
    .aboutContainer .aboutSummery .button:active, .aboutContainer .aboutSummery .moreButton:active {
      width: 7.5em;
      margin: 0 auto;
      transition: all 2s ease-in-out; }
  .aboutContainer .resume .aniResume {
    display: none; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?36130799");
  src: url("../font/fontello.eot?36130799#iefix") format("embedded-opentype"), url("../font/fontello.woff2?36130799") format("woff2"), url("../font/fontello.woff?36130799") format("woff"), url("../font/fontello.ttf?36130799") format("truetype"), url("../font/fontello.svg?36130799#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?36130799#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-mail:before {
  content: '\e800'; }

/* '' */
.icon-cancel:before {
  content: '\e801'; }

/* '' */
.icon-up-open:before {
  content: '\e802'; }

/* '' */
.icon-menu:before {
  content: '\f0c9'; }

/* '' */
.icon-mail-alt:before {
  content: '\f0e0'; }

/* '' */
.icon-codeopen:before {
  content: '\f1cb'; }

/* '' */
.icon-github-squared:before {
  content: '\f300'; }

/* '' */
.icon-linkedin-squared:before {
  content: '\f30c'; }

/* '' */

/*# sourceMappingURL=style.css.map */
